.gradle
build
bin/
.classpath
.project
.settings
.idea
.idea/workspace.xml
.idea/tasks.xml
.dropbox
.DS_*
*.iml
*.ipr
*.iws
*.ids
caldecott.log*
out/
\.gradle
build/
target/
CacheTmpDir/
work/
output/
orient/
gradle/
var
db/
logDb.dat
crawler/
.mule
deps
images/
*.class
.sts4-cache/
